@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&display=swap");

body {
  font-family: "Comfortaa", cursive;
  min-height: 100vh;
  background: rgb(54, 133, 252);
  background: linear-gradient(
    40deg,
    rgba(54, 133, 252, 1) 11%,
    rgba(118, 54, 252, 1) 57%
  );
}

.container {
  margin-top: 6rem;
  align-items: center;
  display: flex;
  justify-content: center;
}
.login-card {
  width: 32rem;
  background: rgba(255, 255, 255, 0.5);
  padding: 3.5rem;
  border-radius: 5px;
  position: relative;
}
.login-card::before {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.15);
  inset: 0;
  transform: rotate(-8deg);
  z-index: -1;
  border-radius: 12px;
}

.login-card-logo {
  margin-bottom: 2rem;
}
.login-card-logo span {
  font-size: 4.5rem;
}
.login-card-logo,
.login-card-title,
.login-card-fotter {
  text-align: center;
}

.login-card a {
  text-decoration: none;
  color: #35339a;
}

.login-card a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.login-card-title {
  margin-bottom: 2rem;
}
.login-card-title h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.login-card-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.login-card-form .form-item {
  position: relative;
}

.login-card-form .form-item .form-item-icon {
  position: absolute;
  top: 0.82rem;
  left: 1rem;
  font-size: 1.5rem;
  opacity: 0.6;
}

.login-card-fotter {
  margin-top: 2.8rem;
  font-size: 1rem;
}
.login-card-fotter a:hover {
  color: green;
}

.login-card input[type="text"],
.login-card input[type="password"],
.login-card input[type="email"],
.login-card input[type="text"] {
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  padding: 1rem 1.5rem;
  padding-left: calc(1rem * 3.5);
  width: 100%;
  border-radius: 15px;
}

.login-card input:focus {
  background: white;
}

.login-card-form button,
.reset-password-btn {
  background: black;
  color: white;
  padding: 1rem;
  border-radius: 4rem;
  border: 2px solid transparent;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.login-card-form button:hover,
.reset-password-btn:hover {
  background: transparent;
  color: black;
  border: 2px solid black;
  cursor: pointer;
}
.reset-password-btn {
  width: 25rem;
  margin-top: 1.2rem;
}
.forgot-password a {
  margin-left: 1.2rem;
}
.forgot-password a:hover {
  color: rgb(240, 34, 34);
}
/* ***************************---------------------************** */

/* ***************************---------------------************** */

/* ***************************---------------------************** */

/* ***************************---------------------************** */
/* --------------------expense css-------------------------- */

.premiumTheme {
  background: black;
  color: black;
  font-family: "Comfortaa", cursive;
  min-height: 100vh;
}
.hidden {
  visibility: hidden;
}
.expense-header button {
  margin-left: 75rem;
  margin-top: 0.2rem;
  padding: 0.5rem 2.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid springgreen;
}

.expense-header button:hover {
  background: rgb(54, 133, 252);
  color: white;
}
.add-expense-card h2 {
  font-size: 2.8rem;
  text-align: center;
  color: aliceblue;
  padding: 2rem 0;
}
.expense-card-form {
  width: 60rem;
  background: rgba(255, 255, 255, 0.5);
  padding: 4rem 2rem;
  border-radius: 9px;
  display: flex;
  justify-content: space-evenly;
  margin-left: 15rem;
  font-size: 1.2rem;
}

.expense-card-form input {
  border: 1px solid transparent;
  outline: none;
  border-radius: 5px;
  background: white;
  /* color: white; */
  height: 2.6rem;
  width: 15.5rem;
  padding: 0.4rem 1rem;
}

.expense-card-form input:focus {
  border-radius: 5px;
  background-color: white;
}
.expense-card-form button {
  width: 12rem;
  height: 2rem;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  border: 1px solid transparent;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}
.expense-card-form button:hover {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
}
#category {
  width: 10rem;
  /* background-color: wheat; */
  border: 1px solid white;
  outline: none;
  padding: 0.4rem 0;
  border-radius: 10px;
}

.expense-items-card-items {
  border: 1px solid white;
  border-radius: 12px;
  width: 40rem;
  display: flex;
  background-color: white;
  padding: 1rem 1.2rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  margin-left: 24rem;
}
.expense-items-card-items:hover {
  background-color: rgb(138, 128, 128);
  border: 1px solid rgb(138, 128, 128);
  color: white;
}

.expense-items-card-items h2,
.expense-items-card-items div {
  padding: 0 1.2rem;
}

.expense-items-card-items button {
  background: transparent;
  margin-left: 1.2rem;
  border: 1px solid black;
  padding: 0.2rem 1rem;
  font-size: 1.2rem;
  border-radius: 5px;
}

.expense-items-card-items button:hover {
  background: red;
  border: 1px solid #35339a;
  color: white;
}

.footer {
  font-size: 1.2rem;
  margin-left: 42rem;
}
.expense-card-body {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.user-list {
  /* border: 1px solid white; */
  color: white;
  margin-left: 6rem;
  width: 8rem;
  text-align: center;
}
.user-list h4 {
  margin-bottom: 0.8rem;
}
.user-list li {
  padding: 0.8rem 0;
  /* border: 1px solid red; */
  border-radius: 10px;
  cursor: pointer;
}

.user-list li:hover {
  /* background-color: #35339a; */
  background-color: white;
  color: black;
}

.hidden-id {
  visibility: hidden;
}

.main-body {
  position: fixed;
}
#expense-anotherUser-card {
  position: relative;
  z-index: 2;
  width: 40rem;
  height: 25rem;
  background: rgb(101, 170, 210);
  margin-left: 25rem;
  margin-top: 10rem;
  border-radius: 10px;
  visibility: hidden;
}

.show-card {
  visibility: visible;
}

.expense-items-card-items-premium {
  border: 1px solid white;
  border-radius: 12px;
  width: 40rem;
  display: flex;
  background-color: white;
  padding: 1rem 1.2rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
.expense-items-card-items-premium h2,
.expense-items-card-items-premium div {
  margin-left: 2rem;
  margin-right: 1.5rem;
}
.expense-items-card-items-premium:hover {
  background-color: rgb(138, 128, 128);
  border: 1px solid rgb(138, 128, 128);
  color: white;
}

.close-card-btn {
  font-size: 1.6rem;
  margin: 0.2rem;
  background: transparent;
  border: 1.5px solid red;
  border-radius: 10px;
  color: red;
}

.close-card-btn:hover {
  background: red;
  color: white;
}
.reset-password,
.reset-password-btn {
  display: none;
}
